.table-surveys {
	background-color: #fff;
	border-radius: 15px 15px 15px 15px;
	box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.table-surveys .table-row {
	padding: 0px 15px;
}

.table-surveys .header {
	background-color: #36ce9b;
	border-radius: 15px 15px 0px 0px;
}

.survey-actions a {
	text-decoration: none;
	color: #000;
	font-size: 18px;
}

.survey-actions a:hover {
	color: #4bb5ca;
}

.pairBackground {
	background-color: #e6fffb;
}

.oddBackground {
	background-color: #ffffff;
}
