.encuesta label {
	/*Es el tamaño de los botones de la tabla*/
	width: 70px;
	height: 20px;
}

.answer-table {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 15px;
	background-color: #ffffff;
}

.bg-table-sup {
	/*Color de la parte superior de la tabla*/
	background-color: #36ce9b;
	border-radius: 15px 15px 0px 0px;
}
.redond {
	border: transparent;
}

.redond th:first-child {
	border-radius: 15px 0px 0px 0px;
}

.redond th:last-child {
	border-radius: 0px 15px 0px 0px;
}

.answer-table .encuesta td {
	padding: 15px 0px;
}

.answer-table .encuesta .radio-button-regular {
	border-color: #ff7a00;
}

.answer-table .encuesta .radio-button-regular:checked {
	background-color: #ff7a00;
}
